.profile {
  background: transparent;
}

.avatarAndInfos > div {
  margin: 5px 0 5px 0;
  width: 220px;
}

.avatarAndInfos a:hover {
  color: #dddddd;
}
.userName {
  margin: 0;
  padding: 20px 0 10px 0;
}
.login {
  font-weight: 600;
}

.avatarAndInfos {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  background: #2f3247;
}

.avatarAndInfosImage > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.socialNumbers {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.socialNumbers > div {
  margin-right: 10px;
  margin-left: 3px;
  display: inline-block;
}

.socialNumbers div > div {
  font-weight: 600;
  display: inline-block;
}

.moreInfos:before {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  border-radius: 15%;
  background: #00cd69;
  margin: 40px auto 40px auto;
}

.moreInfos {
  flex-flow: column;
}

.moreInfos > div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.moreInfos svg {
  margin-right: 10px;
}



@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
  .avatarAndInfos {
    display: flex;
    align-content: center;
    width: 100%;
    height: 700px;
  }
}
