.homeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.boxSearchWithButton{
  position: relative;
}

.formSearch h1 {
  font-size: 4rem;
}

.formSearch input {
  padding: 30px;
  background: transparent;
  font-size: 2rem;
  box-shadow: none;
  border: none;
  border-bottom: solid 3px #ffffff;
  border-radius: 1px;
  outline: none;
  color: #ffffff;
}

.formSearch > form > div > button {
  position: absolute;
  
}

.introImage {
  grid-column: 1fr;
}

.introImage img {
  width: 700px;
}
