@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  color: #ffffff;
  background: #2b2e43;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh - 20px);
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .container{
    grid-template-columns: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
}